*{
  font-family: "Arial";
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6{
  color: red;

}

h2,h3,h4,h5,h6{
  font-weight: normal;
}

h2, h3{
  margin-top: 15px;
}


table{
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 40px;
  background-color: #FBFBFB;
}

.tableHeadings{
  background-color: red;
  color: white;
  font-weight: normal;
}

th{
  font-weight: normal;
  padding: 7px;
  margin: 0;
  text-align: left;
  padding-left: 10px;
}

td{
  padding: 3px;
  padding-left: 10px;
}

label, input{
  margin-top: 20px;
}

.standardlabel{
  background-color: red;
  color: white;
  padding: 4px;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 15px;
  margin-right: 0;
  min-width:75px;
  display: inline-block;
  text-align: center;
}

.standardInput{
  padding-left: 3px;
  font-size: 14px;
  padding: 3px;
  margin-left: 0;
}

.searchText{
  width: 220px;
}

.dateTimeInput{
  width: 45px;
}



a:link {
  text-decoration: none;
}

.pageContainer{
  display: flex;
}

.sideNav{
  min-width: 220px;
  max-width: 220px;
}

.pageContent{
  width: 100%;
  margin: 60px;
}

.navHead{
  background-color: red;
  text-align: center;
}

.navBody{
  height: 100vh;
  background-color: #F2F2F2;
}

.header{
  background-color: #404040;
  width: 100%;
  height: 30px;
}

.navLogo{
  width: 180px;
  padding-top: 20px;
}

.navbarTitle{
  color: white;
  font-weight: normal;
  padding: 8px;
  margin-top: 0;
  font-size: 17px;
}


#navSubhead{
  background-color: #404040;
  text-align: center;
  padding: 2px;
}

.navbarSubtitle{
  color: white;
  font-weight: normal;
  padding: 8px;
  margin-top: 3px;
  font-size: 15px;
  padding-bottom: 15px;
}

.navbarOption{
  text-align: left;
}

.navbarOption > *{
  display: inline;
}

.navbarOption a{
  color: #404040;
  font-weight: normal;
}

.navbarOption img{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right:5px;
  width: 23px;
  vertical-align: middle;
}

.loginBackground{
  background-color: white;
  height: 100vh;
  width: 100%;
  position: relative;
}

.loginParent{
  width: 500px;
  height: 350px;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loginHeader{
  background-color: red;
  text-align: center;
}

.loginSubheader{
  background-color: #404040;
  text-align: center;
  padding: 3px;
}

.loginBody{
  background-color: #FBFBFB;
  height: 60%;
}

#logoutButton{
  color: white;
  font-size: 13px;
  text-align: right;
  padding: 7px;
  margin: 0;
}


.loginLogo{
  width: 320px;
  padding: 25px;
}

button{
    background-color: red;
    color: white;
    padding: 6px;
    border: none;
    font-size: 14px;
    margin-top: 7px;
    margin-bottom: 7px;
    min-width: 80px;
}

.selectButton{
  width: 100%;
}


#loginForm{
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 5px;
}


#loginForm label{
  width: 30%;
  display: inline-block;
  color: #404040;
}

#loginForm input{
  margin: 8px;
  padding: 2px;
  width: 62%;
}

#loginForm button{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  margin-bottom: 15px;
}

#loginError{
  margin-left: 70px;
  margin-top: 25px;
  margin-bottom: 13px;
  color: red;
}

#errorMessage{
  width: 100%;
  background-color: red;
  margin-bottom: 30px;
  display: none;
}

#errorMessage h3{
  margin: 0;
  padding: 20px;
  color: white;
}

#loginButton{
  margin-top: 0;
}

#requestDateTimeTable{

}

#requestDateTimeTable tr th{
  min-width: 100px;
}

#gasChemicalFlex{
  display: flex;
  flex-wrap: wrap;
}

#gasFlex{
  margin-right: 50px;
}

.chemicalQuantityInput{
  width: 60px;
  margin: 0;
  margin-right: 5px;
  padding: 2px;
}


#summaryFlex{
  display: flex;
}

#summaryFlex table{
margin-top: 0;
margin-bottom: 5px;
}

.requestTable{
  border-collapse: collapse;
  border-left: 0;
}

.requestTable td{
  border: 1px solid lightGrey;
  padding: 8px;
}

/*
#internal borders on table only
#adapted from CCS tricks
#accessed 19/04/2021
#https://css-tricks.com/table-borders-inside/
*/

.requestTable tr:first-child th {
  border-top: 0;
}
.requestTable tr:last-child td {
  border-bottom: 0;
}
.requestTable tr td:first-child{
  border-left: 0;
}
.requestTable tr td:last-child {
  border-right: 0;
}


.dayBookingsSummary tr:first-child th {
  border-top: 0;
}
.dayBookingsSummary tr:last-child td {
  border-bottom: 0;
}
.dayBookingsSummary tr td:first-child{
  border-left: 0;
}
.dayBookingsSummary tr td:last-child {
  border-right: 0;
}

/*
End of reference
*/

.bookingStatusIcon{
  width: 50px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
}

#technicianIndexFlex{
  display: flex;
  justify-content: space-between;
}

#technicianIndexFlex div{
  width: 48%;
}

#timeHeading{
  width: 80px;
  text-align: center;
}

.summaryTime{
  font-weight: bold;
  text-align: center;
}

.dayBookingsSummary{
  border-collapse: collapse;
  border-left: 0;
}

.dayBookingsSummary td{
  border: 1px solid lightGrey;
  padding: 12px;
}

#additionalItem{
  border-top: 0 !important;
}

#bookingNotes{
  margin-top: 0;
  padding-bottom: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
}

#addBookingNotesTable{
  margin-bottom: 20px;
  margin-top: 0;
}

#access{
  width: 150px;
}

#usersTable{
  margin-bottom: 30px;
}

#requiredTrainingPopup{
  background-color: red;
  width: 300px;
  float: right;
  display: none;
  padding: 9px;
  padding-bottom: 5px;
}

#requiredTrainingTitle, #requiredtrainingList li{
  color: white;
}

#requiredTrainingTitle{
  font-size: 21px;
}
#requiredtrainingList li{
  font-size: 15px;
}

#requiredtrainingList{
  list-style-position;
  margin-top: 5px;
  margin-bottom: 5px;
}

#requiredTrainingFlex{
  display: flex;
}

#requiredtrainingImageParent{
  padding: 2px;
  margin-right: 4px;
}

#requiredtrainingImage{
  width: 20px;
}

#equipmentReturnText{
  color: red;
  font-size: 17px;
}

#equipmentDetailFlex{
  display: flex;
  margin-top: 4px;
}

#equipmentDetailFlexLeft{
  align-self: center;
}

#equipmentDetailFlexLeft img{
  width: 280px;
  max-height: 400px;
  margin-top: 10px;
  margin-left: 0;
  margin-right: 60px;
}

#equipmentDetailFlexRight h3{
  margin-top: 4px;
  font-size: 18px;
}


.equipmentDetailSubtitle{
  font-weight: bold;
  margin-top: 30px;
}

#serviceRecordTable{
  margin-top: 10px;
  margin-bottom: 30px;
}

#equipmentDetailsRequiredTraining{
  list-style-position: inside;
  color: red;
  margin-top: 6px;
  font-size: 18px;
}

#indexBackgroundImageParent{
  width: 100%;
  text-align: center;
}

#indexBackgroundImage{
  width: 400px;
  margin-top: 40px;
}

@media only screen and (max-width: 700px) {

  .loginParent{
    width: 100%;
    top: 35%;
  }



}
