{% extends "standardPage.html" %}
{% set title = "Home" %}
{% block content %}
{{ super() }}

<style media="screen">
  .bookingData{
    border-collapse: collapse;
    white-space: pre-line;
  }

  .bookingData tr > *{
    border: 1px solid black;
  }

.bookingData{
  border-collapse: collapse;
}

.bookingData tr > *{
  border: 1px solid black;
}

.bookingData tr td:nth-child(odd){
  background: #bababa;
}

.bookingData tr td:nth-child(even){
  background: #d3d3d3;
}


</style>

<script type="text/javascript">
  function addTraining(id){
    params = "trainingID=" + id
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", '/training/add', true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onload = function() {
      if (xhttp.readyState === 4 && xhttp.status === 200) {
        if (xhttp.response){
          window.location.href = "/training/add/" + xhttp.response
        }
      } else {
        console.error(xhttp.statusText);
      }
    }
    xhttp.send(params);
  }

</script>

<h1>User Training</h1>
<table class = "bookingData" id="mergeTable">
  <tr style = "font-weight:bold">
    <th>UserID</th>
    <th>First Name</th>
    <th>Second Name</th>
    <th>Training</th>
    <th></th>
  </tr>
  <h3>{{extraInfo}}</h3>
  {% for i in range(0,data|length) %}
  <tr id = '{{data[i][0]}}'>
    <td>{{data[i][0]}}</td>
    <td>{{data[i][1]}}</td>
    <td>{{data[i][2]}}</td>
    <td>{{data[i][3]}}</td>
    <td><button type="submit" onclick="addTraining('{{data[i][0]}}');">Add Training</button></td>
  </tr>
  {% endfor %}
</table>

{{users}}

{% endblock %}
