<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/theme.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>{{title}}</title>
  </head>
  <header>
    {% block header %}
    {% endblock %}
  </header>
  <nav>
    {% block navbar %}
    {% endblock %}
  </nav>
  <body>
    {% block body %}
    {% endblock %}
  </body>
  {% block script %}
  {% endblock %}
</html>
