{% extends "standardPage.html" %}
{% set title = equipmentDetails[1] %}
{% block content %}
{{ super() }}

  <a href="/equipment" <h3 id="equipmentReturnText">Return</h3></a><br><br>

  <h1>{{equipmentDetails[1]}}</h1><br>

  <div id="equipmentDetailFlex">

    <div id="equipmentDetailFlexLeft">
      <img src="/static/media/equipment/{{equipmentDetails[0]}}.png">
    </div>

    <div id="equipmentDetailFlexRight">
      <h2 class="equipmentDetailSubtitle">Equipment Information</h2><br>

      <h3>Model: {{equipmentDetails[2]}}</h3>
      <h3>Location: {{equipmentDetails[3]}}</h3>
      <h3>Service: {{equipmentDetails[4]}}</h3>

      <h2 class="equipmentDetailSubtitle">Service Record</h2>

      {% if serviceDetails|length == 0 %}
        <h3 id="noServiceRecordMessage">There is no service record for this equipment.</h3>
      {% else %}

        <table style="width:100%" id="serviceRecordTable">
          <thead>
            <tr class="tableHeadings">
              <th>Date</th>
              <th>Engineer</th>
            </tr>
          </thead>
          {% for service in serviceDetails %}
            <tr>
              <td>{{service[0]}}</td>
              <td>{{service[1]}}</td>
            </tr>
          {% endfor %}
        </table>

      {% endif %}

      <h2 class="equipmentDetailSubtitle">Training required</h2>

      {% if requiredTraining|length == 0 %}
        <h3 id="noServiceRecordMessage">No training is required for this machine.</h3>
      {% else %}

      <ul id="equipmentDetailsRequiredTraining">
        {% for training in requiredTraining %}
          <li>{{training[0]}}</li>
        {% endfor %}
      </ul>

      {% endif %}

    </div>

  </div>




{% endblock %}
