{% extends "standardPage.html" %}

{% block content %}
{{ super() }}

<style media="screen">
.bookingData{
  border-collapse: collapse;
}

.bookingData tr > *{
  border: 1px solid black;
}

.bookingData tr td:nth-child(odd){
  background: #bababa;
}

.bookingData tr td:nth-child(even){
  background: #d3d3d3;
}
</style>

<script type="text/javascript">

  function resetHours(equipmentName){
      var params = "equipmentName=" + equipmentName;
      console.log(params)
      var xhttp = new XMLHttpRequest();
      xhttp.open("POST", '/equipment/reports', true);
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.onload = function() {
        if (xhttp.readyState === 4 && xhttp.status === 200) {
          window.location.href = "reports";
        } else {
          console.error(xhttp.statusText);
        }
      }
      xhttp.send(params);
    }

</script>

<h1>Equipment Logs</h1>
<form action="javascript:;" onsubmit="resetHours(this.form)" method="post">
  <table class = "bookingData">
    <tr style = "font-weight:bold">
      <th>Equipment Name</th>
      <th>Hours Used</th>
      <th></th>
    </tr>
    {% for row in data %}
    <tr id = "row{{row[0]}}">
      <td>{{row[0]}}</td>
      <td>{{row[1]}}</td>
      <td><button onclick="resetHours('{{row[0]}}')">Reset</button></td>
    </tr>
    {% endfor %}
  </table>
</form>
<p id = "infoText"></p>

{{users}}

{% endblock %}
