{% extends "standardPage.html" %}

{% block content %}
{{ super() }}

Search for equipment here.
<form action = "/equipmentSearch" method = "POST" name = "searchEquipment" id = "searchEquipment">
  <label><b>Search equipment</b><br>
    <input type = "text" required>
  </label><br>
<button type = "submit">Search</button><br><br>
<table border = 1>
  <thread>
    <td>EquipmentID</td>
    <td>Name</td>
    <td>EquipmentCategoryID</td>
  </thread>
    <tr>
      <td>{{row0}}</td>
      <td>{{row1}}</td>
      <td>{{row2}}</td>
    </tr>

</table>
{{users}}

{% endblock %}
