{% extends "standardPage.html" %}
{% set title = "Home" %}
{% block content %}
{{ super() }}

<h1>Welcome, {{userName}}</h1><br>

<div id="technicianIndexFlex">
  <div id="technicianIndexLeft">

    <table style="width:100%" class="dayBookingsSummary" cellspacing="0">
      <thead>
        <tr class="tableHeadings">
          <th id="timeHeading" colspan="2">Today</th>
        </tr>
      </thead>

      <tbody>
        {% for key, value in summaryData.items() %}
          <tr>
            <td class="summaryTime" rowspan="{{value|length}}">{{key}}</td>
            <td>{{value[0]}}</td>
          </tr>
          {% for message in value[1:] %}

            <tr>
              <td>{{message}}</td>
            </tr>

          {% endfor %}
        {% endfor %}
      </tbody>

    </table>

  </div>

  <div id="technicianIndexRight">



  </div>

</div>

{{users}}

{% endblock %}
