{% extends "standardPage.html" %}
{% set title = "Home" %}
{% block content %}
{{ super() }}

<h1>Welcome, {{userName}}</h1>

<div id="indexBackgroundImageParent">
  <img id="indexBackgroundImage" src="/static/media/graphics/indexBackground.png">
</div>

{{users}}

{% endblock %}
