{% extends "standardPage.html" %}
{% set title = "Equipment" %}
{% block content %}
{{ super() }}

  <h1>Equipment</h1>
  <h3>Search equipment and view service details</h3>

  <form id ="searchequipment">
    <br><label for="equipmentSearch" class="standardlabel">Search:</label>
    <input id = "equipmentSearch" onkeyup="searchEquipment()" type = "text" class="standardInput" name="equipmentSearch">
  </form>

  <table style="width:100%" id="equipmentTable">
    <thread>
      <tr class="tableHeadings">
        <th>Equipment name</th>
        <th>Location</th>
        <th></th>
      </tr>
    </thread>

    {% for row in equipment %}
      <tr>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td style="text-align:center;">
          <form action="/equipment/details/{{row[0]}}">
            <button class="selectbtn">Details</button>
          </form>
        </td>
      </tr>
    {% endfor %}

  </table>


{% endblock %}


{% block script %}
{{ super() }}

<script>

  function searchEquipment(){
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("equipmentSearch");
    filter = input.value.toUpperCase();
    table = document.getElementById("equipmentTable");
    tr = table.getElementsByTagName("tr");

    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }

</script>

{% endblock %}
