{% extends "base.html" %}
{% set title = "Login" %}
{% block header %}
{{ super() }}

{% include "header.html" %}

{% endblock %}

{% block body %}
{{ super() }}

<div class="loginBackground">
  <div class="loginParent">
    <div class="loginHeader">
      <img src="/static/media/graphics/logo.svg" class="loginLogo">
    </div>
    <div class="loginSubheader">
      <h3 class="navbarTitle">Lab Management</h3>
    </div>

    <div class="loginBody">
      {% if not messageText is defined %}
      {% set messageText = "Please login below" %}
      {% endif %}
      <h5 id="loginError">{{messageText}}</h5>
      <form id="loginForm" onsubmit="return login()">
        <label for="username">Username: </label>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password: </label>
        <input type="password" id="password" name="password"><br><br>
        <button type="submit" form="loginForm" value="Submit" id="loginButton"> Login </button>
      </form>
    </div>
  </div>
</div


{% endblock %}

{% block script %}

<script>

  function login() {
    event.preventDefault()
    var username = document.forms["loginForm"]["username"].value;
    var password = document.forms["loginForm"]["password"].value;
    params = 'username='+username+'&password='+password;
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", '/account/login', true); // true is asynchronous
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onload = function() {
      if (xhttp.readyState === 4 && xhttp.status === 200) {
        var response = xhttp.responseText
        if (response == "success"){
          {% if not urlRedirect is defined %}
          {% set urlRedirect = "/" %}
          {% endif %}
          window.location.href = "{{urlRedirect}}";
        }else{
          loginError(response);
        }
      } else {
        console.error(xhttp.statusText);
      }
    };
    xhttp.send(params);
    return false;
  }

  function loginError(message){
    var error = document.getElementById("loginError");
    error.innerText = message;
  }

</script>

{% endblock %}
