{% extends "standardPage.html" %}
{% set title = "User Management" %}
{% block content %}
{{ super() }}

<h1>System Logs</h1>

<table style="width:100%" id="logTable">
  <thead>
    <tr class="tableHeadings">
      <th>User</th>
      <th>Event</th>
      <th>Timestamp</th>
    </tr>
  </thead>

  {% for log in logs %}

    <tr>
      <td>{{log[0]}}</td>
      <td>{{log[1]}}</td>
      <td>{{log[2]}}</td>
    </tr>

  {% endfor %}

</table>

{% endblock %}
