{% extends "standardPage.html" %}

{% block content %}
{{ super() }}


<style media="screen">
  .bookingData{
    border-collapse: collapse;
  }

  .bookingData tr > *{
    border: 1px solid black;
  }

.bookingData{
  border-collapse: collapse;
}

.bookingData tr > *{
  border: 1px solid black;
}

.bookingData tr td:nth-child(odd){
  background: #bababa;
}

.bookingData tr td:nth-child(even){
  background: #d3d3d3;
}

</style>

<h1>More Details</h1>
  <table class = "bookingData">
    <tr style = "font-weight:bold">
      <th>Booking ID</th>
      <th>User ID</th>
      <th>First Name</th>
      <th>Second Name</th>
      <th>Training</th>
    </tr>
    <h3>{{extraInfo}}</h3>
    {% for row in data %}
    <tr id = "row{{row[0]}}">
      <td>{{row[0]}}</td>
      <td>{{row[1]}}</td>
      <td>{{row[2]}}</td>
      <td>{{row[3]}}</td>
      <td>{{row[4]}}</td>
    </tr>
    {% endfor %}
  </table>
<button type="button" name="button" onclick="document.location.href='/bookings/moderate';">Back</button>
{{users}}

{% endblock %}
