{% extends "standardPage.html" %}
{% set title = "Moderate" %}
{% block content %}
{{ super() }}

<style media="screen">
  .bookingData{
    border-collapse: collapse;
  }

  .bookingData tr > *{
    border: 1px solid black;
  }

.bookingData{
  border-collapse: collapse;
}

.bookingData tr > *{
  border: 1px solid black;
}

.bookingData tr td:nth-child(odd){
  background: #bababa;
}

.bookingData tr td:nth-child(even){
  background: #d3d3d3;
}

</style>

<script type="text/javascript">
  acceptedIDs = []
  rejectedIDs = []
  function completeRow(id, action){
    var currentElement = document.getElementById("row" + id);
    var tempButton = document.createElement("BUTTON");
    tempButton.innerHTML = action;
    tempButton.disabled = true;
    tempButton.style.border = "1px solid black"
    currentElement.parentNode.replaceChild(tempButton, currentElement);
  }
  function addAccepted(id){
      acceptedIDs.push(id);
      completeRow(id, "Accepted")
  }
  function addReject(id){
      rejectedIDs.push(id);
      completeRow(id, "Rejected!")
  }
  function submitData(){
      document.getElementById("infoText").innerHTML = "Success!"
      var params = "acceptedIDs=" + acceptedIDs
      params += "&rejectedIDs=" + rejectedIDs
      console.log(params)
      var xhttp = new XMLHttpRequest();
      xhttp.open("POST", '/bookings/moderate', true);
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.onload = function() {
        if (xhttp.readyState === 4 && xhttp.status === 200) {
          window.location.href = "moderate";
        } else {
          console.error(xhttp.statusText);
        }
      }
      xhttp.send(params);
    }

    function moreDetails(id){
      $.ajax({
          type: "POST",
          url: "/bookings/moderate",
          contentType: 'application/json; charset=utf-8',
          dataType: 'json',
          data: JSON.stringify('{"moreDetails":' + '"' + id + '"' +'}'),
          success:function(response){
                window.location.href = response.redirect
          }

      });
    }
</script>

<h1>Pending Requests</h1>
  <table class = "bookingData">
    <tr style = "font-weight:bold">
      <th>Verify</th>
      <th>Booking ID</th>
      <th>Chemical booked</th>
      <th>Machine booked</th>
      <th>Gas booked</th>
      <th>Notes</th>
      <th></th>
    </tr>
    <h3>{{extraInfo}}</h3>
    {% for row in data %}
    <tr id = "row{{row[0]}}">
      <td><button onclick="addAccepted({{row[0]}})">Accept</button> <button onclick="addReject({{row[0]}})">Reject</button></td>
      <td>{{row[0]}}</td>
      <td>{{row[1]}}</td>
      <td>{{row[2]}}</td>
      <td>{{row[3]}}</td>
      <td>{{row[4]}}</td>
      <td><button type="submit" id="moreDetails{{row[0]}}" onclick="moreDetails({{row[0]}});">More Details</button></td>
    </tr>
    {% endfor %}
  </table>
  <button type="submit" onclick="submitData();" >Submit</button>
<p id = "infoText"></p>

{{users}}

{% endblock %}
