{% extends "standardPage.html" %}
{% set title = "My Bookings" %}
{% block content %}
{{ super() }}

<h1>My bookings</h1>
<h3>View your requests below</h3>

{% for booking in bookings %}

  <table style="width:100%" class="requestTable" CELLSPACING=0>
      <tr class="tableHeadings">
        <th width=35%;>{{booking[1]}} {{booking[2]}}-{{booking[3]}}</th>
        <th width=25%;></th>
        <th width=25%;></th>
        <th width=15%;></th>
      </tr>

      <tr>
        <td>Equipment</td>
        <td>Chemicals</td>
        <td>Gases</td>
        <td></td>
      </tr>

      <tr>
        <td>
          {% for equipment in bookedEquipment %}
            {% if equipment[1] == booking[0] %}
              {{equipment[3]}}<br><br>
            {% endif %}
          {% endfor %}
        </td>
        <td>
          {% for chemical in bookedChemicals %}
            {% if chemical[1] == booking[0] %}
              {{chemical[3]}}<br><br>
            {% endif %}
          {% endfor %}
        </td>
        <td>
          {% for gas in bookedGases %}
            {% if gas[1] == booking[0] %}
              {{gas[3]}}<br><br>
            {% endif %}
          {% endfor %}
        </td>
        <td style="text-align:center;">

          {% if booking[4] == 0 %}
            <img src="/static/media/graphics/sandTimer.svg" class="bookingStatusIcon"><br>
            Pending
          {% elif booking[4] == 1 %}
            <img src="/static/media/graphics/check.svg" class="bookingStatusIcon"><br>
            Approved
          {% elif booking[4] == 2 %}
            <img src="/static/media/graphics/cross.svg" class="bookingStatusIcon"><br>
            Declined
          {% endif %}

          <br><br>

          <form action="/mybooking/{{booking[0]}}" id="cancelBookingForm">
            <button type="button" class="selectButton" onclick="return cancelBooking({{booking[0]}})">Cancel Booking</button>
          </form>

        </td>
      </tr>

  </table>

{% endfor %}


{% endblock %}

{% block script %}
{{ super() }}

<script>

  function cancelBooking(bookingID) {
    event.preventDefault()
    params = 'bookingID='+bookingID;
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", '/myBookings/cancel', true); // true is asynchronous
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onload = function() {
      if (xhttp.readyState === 4 && xhttp.status === 200) {
        var response = xhttp.responseText
        if (response == "success"){
          location.reload();
        }else{
          displayError(response);
        }
      } else {
        console.error(xhttp.statusText);
      }
    };
    xhttp.send(params);
    return false;
  }

</script>


{% endblock %}
