<div class="navHead">
  <img src="/static/media/graphics/logo.svg" class="navLogo">
  <h3 class="navbarSubtitle">Lab Management</h3>
</div>




<div class="navBody">

  {% for navOption in navOptions %}
  <div class="navbarOption">
    <img src="/static/media/graphics/{{navOption[3]}}">
    <a href="{{navOption[4]}}">{{navOption[2]}}</a>
  </div>
  <hr>
  {% endfor %}

</div>
