{% extends "standardPage.html" %}
{% set title = "Booking - Confirmation" %}
{% block content %}
{{ super() }}

<h1>Your request has been submitted</h1>
<h3>Check the progress of your request in the pending requests section</h3>

{% endblock %}
