{% extends "standardPage.html" %}
{% set title = "Booking - Summary" %}
{% block content %}
{{ super() }}

<h1>New booking request</h1>
<h3>Step 3: Summary</h3>

<table id="requestDateTimeTable">
    <tr>
      <th class="tableHeadings">Date</th>
      <th>{{bookingTimeInfo[0]}}</th>
    </tr>

    <tr>
      <th class="tableHeadings">Start Time</th>
      <th>{{bookingTimeInfo[1]}}</th>
    </tr>

    <tr>
      <th class="tableHeadings">Finish Time</th>
      <th>{{bookingTimeInfo[2]}}</th>
    </tr>
</table>

{% if equipmentList|length > 0 %}

<table style="width:100%" id="equipmentTable">
    <tr class="tableHeadings">
      <th>Equipment Name</th>
      <th>Category</th>
      <th>Location</th>
    </tr>

    {% for equipment in equipmentList %}
    <tr>
      <th>{{equipment[1]}}</th>
      <th>{{equipment[2]}}</th>
      <th>{{equipment[3]}}</th>
    </tr>
    {% endfor %}
</table>

{% endif %}

<div id="summaryFlex">

  {% if gasesList|length > 0 %}

  <table style="width:100%" id="gasTable">
      <tr class="tableHeadings">
        <th>Gas Name</th>
      </tr>

      {% for gas in gasesList %}
      <tr>
        <th>{{gas[0]}}</th>
      </tr>
      {% endfor %}
  </table>

  {% endif %}

  {% if chemicalList|length > 0 %}

  <table style="width:100%" id="chemicalTable">
      <tr class="tableHeadings">
        <th>Chemical Name</th>
      </tr>

      {% for chemical in chemicalList %}
      <tr>
        <th>{{chemical[0]}}</th>
      </tr>
      {% endfor %}
  </table>

  {% endif %}

</div>

<table style="width:100%" id="addBookingNotesTable">

  <tr class="tableHeadings">
    <th>Add Notes</th>
  </tr>

  <tr>
    <td>
      <input type="textarea" id="bookingNotes" class="standardInput" name="bookingNotes" rows="10" cols="400">
    </td>
  </tr>

</table>

<button type="button" onclick="return submitRequest()">Submit Request</button>

{% endblock %}

{% block script %}
{{ super() }}


<script>

  function submitRequest() {
    event.preventDefault()
    resetError();
    var notes = document.getElementById("bookingNotes").value
    params = 'notes='+notes;
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", '/newBooking/summary', true); // true is asynchronous
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onload = function() {
      if (xhttp.readyState === 4 && xhttp.status === 200) {
        var response = xhttp.responseText
          if (response == "success"){
            window.location.href = "/newBooking/confirmation";
          }
          else{
            displayError(response);
          }
      } else {
        console.error(xhttp.statusText);
      }
    };
    xhttp.send(params);
    return False;
  }

</script>

{% endblock %}
