{% extends "standardPage.html" %}
{% set title = "Booking - Select time" %}
{% block content %}
{{ super() }}

<h1>New booking request</h1>
<h3>Step 1: Select your booking time</h3>

<form id="requestDateTimeForm">
  <br><label class="standardlabel">Date</label>
  <input type="date" id="requestDate" class="standardInput" name="requestDate" onKeyDown="return false">

  <br><label class="standardlabel">Start time</label>
  <input type="number" id="requestStartTimeHour" class="standardInput dateTimeInput" name="requestStartTimeHour" min="10" max="18" step="1" onKeyDown="return false">
  <input type="number" id="requestStartTimeMinute" class="standardInput dateTimeInput" name="requestStartTimeMinute" min="00" max="45" step="15" onKeyDown="return false">

  <br><label class="standardlabel">Finish time</label>
  <input type="number" id="requestFinishTimeHour" class="standardInput dateTimeInput" name="requestFinishTimeHour" min="10" max="18" step="1" onKeyDown="return false">
  <input type="number" id="requestFinishTimeMinute" class="standardInput dateTimeInput" name="requestFinishTimeMinute" min="0" max="45" step="15" onKeyDown="return false">

</form>

<br><button type="button" onclick="return sendDateTime()">Next</button>

{% endblock %}

{% block script %}
{{ super() }}


<script>

  function sendDateTime() {
    event.preventDefault()
    resetError();
    var requestDate = document.forms["requestDateTimeForm"]["requestDate"].value;

    var requestStartTimeHour = document.forms["requestDateTimeForm"]["requestStartTimeHour"].value;
    var requestStartTimeMinute = document.forms["requestDateTimeForm"]["requestStartTimeMinute"].value;

    var requestFinishTimeHour = document.forms["requestDateTimeForm"]["requestFinishTimeHour"].value;
    var requestFinishTimeMinute = document.forms["requestDateTimeForm"]["requestFinishTimeMinute"].value;

    params = 'requestDate='+requestDate+'&requestStartTimeHour='+requestStartTimeHour+'&requestStartTimeMinute='+requestStartTimeMinute+'&requestFinishTimeHour='+requestFinishTimeHour+'&requestFinishTimeMinute='+requestFinishTimeMinute;
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", '/newBooking/dateTime', true); // true is asynchronous
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onload = function() {
      if (xhttp.readyState === 4 && xhttp.status === 200) {
        var response = xhttp.responseText
          if (response == "success"){
            window.location.href = "/newBooking/equipment";
          }
          else{
            displayError(response);
          }
      } else {
        console.error(xhttp.statusText);
      }
    };
    xhttp.send(params);
    return false;
  }

</script>

{% endblock %}
