{% extends "standardPage.html" %}
{% set title = "Booking - Equipment" %}
{% block content %}
{{ super() }}

<h1>New booking request</h1>
<h3>Step 2: Select your equipment</h3>

<div id="requiredTrainingPopup">
  <div id="requiredTrainingFlex">
    <div id="requiredtrainingImageParent">
      <img src="/static/media/graphics/important.svg" id="requiredtrainingImage">
    </div>
    <div id="requiredTrainingTextParent">
      <h1 id="requiredTrainingTitle">Training Required<h1>
      <ul id="requiredtrainingList">
      </ul>
    </div>
  </div>
</div>

<form id="equipmentSearchForm">
<br><label for="equipmentSearch" class="standardlabel">Search</label>
<input type="text" id="equipmentSearch" class="standardInput" name="equipmentSearch" oninput="return populateTable()">
</form>

<table style="width:100%" id="equipmentTable">
  <thead>
    <tr class="tableHeadings">
      <th>Equipment Name</th>
      <th>Category</th>
      <th>Location</th>
      <th></th>
    </tr>
  </thead>

  <tbody id="equipmentTableBody">

  </tbody>

</table>

<form action="/newBooking/gasesChemicals">
  <button type="submit">Next</button>
</form>

{% endblock %}

{% block script %}
{{ super() }}


<script>

  window.onload = function() {
    populateTable();
  };

  function addEquipment(equipmentID) {
    params = 'equipmentID='+equipmentID;
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", '/requests/equipment', true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onreadystatechange = function() {
      if (xhttp.readyState === 4) {
        if (xhttp.status === 200) {
          var response = xhttp.responseText;
          if (response == "added"){
            console.log("added");
          }else if (response == "removed"){
            console.log("removed");
          }
          populateTable();
        } else {
          console.error(xhttp.statusText);
        }
      }
    };
    xhttp.send(params);
    return false;
  }


  function populateTable() {
    var search = document.forms["equipmentSearchForm"]["equipmentSearch"].value;
    params = 'search='+search;
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", '/search/equipment', true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onreadystatechange = function() {
      if (xhttp.readyState === 4) {
        if (xhttp.status === 200) {
          var equipment = JSON.parse(xhttp.responseText);

          var oldTable = document.getElementById("equipmentTableBody");
          var newTable = document.createElement('tbody');
          newTable.setAttribute("id", "equipmentTableBody");

          var numberOfEquipment = equipment.length;
          for (var i=0; i < numberOfEquipment; i++){
            var row = newTable.insertRow(i);

            var buttonID = "select_" + equipment[i][0];

            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            cell1.innerHTML = equipment[i][1];
            cell2.innerHTML = equipment[i][2];
            cell3.innerHTML = equipment[i][3];
            cell4.innerHTML = '<button type="button" class="selectButton" id=' + buttonID + ' onclick="return addEquipment(' + equipment[i][0] + ')" onmouseover="return showTrainingPopup(' + equipment[i][0] + ')" onmouseout="return hideTrainingPopup()">Select</button>';
          }

          oldTable.parentNode.replaceChild(newTable, oldTable);

          setSelectedItems(equipment);
          setUnavailableItems(equipment);
          setUntrainedItems(equipment);

        } else {
          console.error(xhttp.statusText);
        }
      }
    };
    xhttp.send(params);
    return false;
  }


  function setSelectedItems(equipment){
    console.log(equipment);

    var numberOfEquipment = equipment.length;
    var xhttp = new XMLHttpRequest();
    xhttp.open("GET", '/requests/equipment', true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onreadystatechange = function() {
      if (xhttp.readyState === 4) {
        if (xhttp.status === 200) {
          selectedEquipment = JSON.parse(xhttp.responseText);
          console.log(selectedEquipment);
          console.log("SE Items");
          console.log(selectedEquipment[0]);
          console.log(selectedEquipment[1]);
          for (var i=0; i < numberOfEquipment; i++){
            var button = document.getElementById("select_"+equipment[i][0]);
            if (selectedEquipment.includes(equipment[i][0].toString())){
              button.style.backgroundColor = "lightGreen";
              button.innerHTML = "Selected";
            }else{
              button.style.backgroundColor = "red";
              button.innerHTML = "Select";
            }
          }
        } else {
          console.error(xhttp.statusText);
        }
      }
    };
    xhttp.send();
  }


  function setUnavailableItems(equipment) {
    var xhttp = new XMLHttpRequest();
    xhttp.open("GET", '/bookings/equipment/unavailability', true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onreadystatechange = function() {
      if (xhttp.readyState === 4) {
        if (xhttp.status === 200) {
          var unavailableEquipment = JSON.stringify(xhttp.responseText);
          console.log(unavailableEquipment);
          var numberOfEquipment = equipment.length;

          for (var i=0; i < numberOfEquipment; i++){
            var button = document.getElementById("select_"+equipment[i][0]);
            if (unavailableEquipment.includes(equipment[i][0].toString())){
              button.style.backgroundColor = "grey";
              button.innerHTML = "Unavailable";
              button.onclick = "";
            }
          }

        } else {
          console.error(xhttp.statusText);
        }
      }
    };
    xhttp.send();
  }


  function setUntrainedItems(equipment) {
    var xhttp = new XMLHttpRequest();
    xhttp.open("GET", '/bookings/equipment/untrained', true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onreadystatechange = function() {
      if (xhttp.readyState === 4) {
        if (xhttp.status === 200) {
          var untrainedEquipment = JSON.stringify(xhttp.responseText);
          console.log(untrainedEquipment);
          var numberOfEquipment = equipment.length;

          for (var i=0; i < numberOfEquipment; i++){
            var button = document.getElementById("select_"+equipment[i][0]);
            if (untrainedEquipment.includes(equipment[i][0].toString())){
              button.style.backgroundColor = "grey";
              button.innerHTML = "Untrained";
              button.onclick = "";
            }
          }

        } else {
          console.error(xhttp.statusText);
        }
      }
    };
    xhttp.send();
  }

  function showTrainingPopup(equipmentID) {
    hideTrainingPopup()
    var xhttp = new XMLHttpRequest();
    xhttp.open("GET", '/bookings/equipment/untrained/' + equipmentID, true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onreadystatechange = function() {
      if (xhttp.readyState === 4) {
        if (xhttp.status === 200) {
          var training = JSON.parse(xhttp.responseText);
          console.log(training);
          var ul = document.getElementById("requiredtrainingList");
          var li = document.createElement("li");

          var popup = document.getElementById("requiredTrainingPopup");
          var popupTitle = document.getElementById("requiredTrainingTitle");
          var popupImage = document.getElementById("requiredtrainingImage");

          var numberOfTraining = training.length;

          if (numberOfTraining == 0){
            popup.style.backgroundColor = "#92D050";
            popupTitle.innerHTML = "Training Complete";
            popupImage.src = "/static/media/graphics/tickWhite.svg"
          }
          else{

            popup.style.backgroundColor = "red";
            popupTitle.innerHTML = "Training Required";
            popupImage.src = "/static/media/graphics/important.svg"

            for (var i=0; i < numberOfTraining; i++){
              li.appendChild(document.createTextNode(training[i][0]));
              ul.appendChild(li);
            }
          }

          popup.style.display = "block";

        } else {
          console.error(xhttp.statusText);
        }
      }
    };
    xhttp.send();
  }


  function hideTrainingPopup(){
    var popup = document.getElementById("requiredTrainingPopup");
    popup.style.display = "none";
    document.getElementById("requiredtrainingList").innerHTML = "";
  }

</script>

{% endblock %}
