{% extends "standardPage.html" %}
{% set title = "Booking - Gases and Chemicals" %}
{% block content %}
{{ super() }}

<h1>New booking request</h1>
<h3>Step 3: Select your gases and chemicals</h3>

<div id="gasChemicalFlex">

  <div id="gasFlex">
    <form id="gasSearchForm">
    <br><label for="gasSearch" class="standardlabel">Search</label>
    <input type="text" id="gasSearch" class="standardInput" name="gasSearch" oninput="return getgas()">
    </form>

    <table style="width:100%" id="gasTable">
      <thead>
        <tr class="tableHeadings">
          <th>Gas</th>
          <th></th>
        </tr>
      </thead>

      <tbody id="gasTableBody">

      </tbody>

    </table>
  </div>

  <div id="chemicalFlex">

    <form id="chemicalSearchForm">
    <br><label for="chemicalSearch" class="standardlabel">Search</label>
    <input type="text" id="chemicalSearch" class="standardInput" name="chemicalSearch" oninput="return getChemicals()">
    </form>

    <table style="width:100%" id="chemicalTable">
      <thead>
        <tr class="tableHeadings">
          <th>Chemical</th>
          <th></th>
        </tr>
      </thead>

      <tbody id="chemicalTableBody">

      </tbody>

    </table>

  </div>

</div>

<form action="/newBooking/summary">
  <button type="submit">Next</button>
</form>

{% endblock %}

{% block script %}
{{ super() }}


<script>
  function selectgas(gasID){
    alert(gasID);
  }

  window.onload = function() {
    getgas();
    getChemicals();
  };

  function getgas() {
    var search = document.forms["gasSearchForm"]["gasSearch"].value;
    params = 'search='+search;
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", '/search/gases', true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onreadystatechange = function() {
      if (xhttp.readyState === 4) {
        if (xhttp.status === 200) {
          var gas = JSON.parse(xhttp.responseText);
          populateGasTable(gas);
        } else {
          console.error(xhttp.statusText);
        }
      }
    };
    xhttp.send(params);
    return false;
  }

  function addgas(gasID) {
    params = 'gasID='+gasID;
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", '/requests/gases', true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onreadystatechange = function() {
      if (xhttp.readyState === 4) {
        if (xhttp.status === 200) {
          var response = xhttp.responseText;
          if (response == "added"){
            console.log("gas added");
          }else if (response == "removed"){
            console.log("gas removed");
          }
          getgas();
        } else {
          console.error(xhttp.statusText);
        }
      }
    };
    xhttp.send(params);
    return false;
  }

  function populateGasTable(gas){

    var oldTable = document.getElementById("gasTableBody");
    var newTable = document.createElement('tbody');
    newTable.setAttribute("id", "gasTableBody");

    var numberOfgas = gas.length;
    for (var i=0; i < numberOfgas; i++){
      var row = newTable.insertRow(i);

      var buttonID = "selectGas_" + gas[i][0];

      var cell1 = row.insertCell(0);
      var cell2 = row.insertCell(1);
      cell1.innerHTML = gas[i][1];
      cell2.innerHTML = '<button type="button" class="selectButton" id=' + buttonID + ' onclick="return addgas(' + gas[i][0] + ')">Select</button>';
    }

    oldTable.parentNode.replaceChild(newTable, oldTable);

    var xhttp = new XMLHttpRequest();
    xhttp.open("GET", '/requests/gases', true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onreadystatechange = function() {
      if (xhttp.readyState === 4) {
        if (xhttp.status === 200) {
          selectedgas = JSON.parse(xhttp.responseText);
          console.log(selectedgas);
          for (var i=0; i < numberOfgas; i++){
            var button = document.getElementById("selectGas_"+gas[i][0]);
            if (selectedgas.includes(gas[i][0].toString())){
              button.style.backgroundColor = "lightGreen";
              button.innerHTML = "Selected";
            }else{
              button.style.backgroundColor = "red";
              button.innerHTML = "Select";
            }
          }
        } else {
          console.error(xhttp.statusText);
        }
      }
    };
    xhttp.send();
  }







  function getChemicals() {
    var search = document.forms["chemicalSearchForm"]["chemicalSearch"].value;
    params = 'search='+search;
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", '/search/chemicals', true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onreadystatechange = function() {
      if (xhttp.readyState === 4) {
        if (xhttp.status === 200) {
          var chemical = JSON.parse(xhttp.responseText);
          populateChemicalTable(chemical);
        } else {
          console.error(xhttp.statusText);
        }
      }
    };
    xhttp.send(params);
    return false;
  }

  function addchemical(chemicalID) {
    resetError();
    params = 'chemicalID='+chemicalID;
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", '/requests/chemicals', true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onreadystatechange = function() {
      if (xhttp.readyState === 4) {
        if (xhttp.status === 200) {
          var response = xhttp.responseText;
          if (response == "added"){
            console.log("chem added");
          }else if (response == "removed"){
            console.log("chem removed");
          }
          else{
            displayError(response);
          }
          getChemicals();
        } else {
          console.error(xhttp.statusText);
        }
      }
    };
    xhttp.send(params);
    return false;
  }

  function populateChemicalTable(chemical){

    var oldTable = document.getElementById("chemicalTableBody");
    var newTable = document.createElement('tbody');
    newTable.setAttribute("id", "chemicalTableBody");

    var numberOfchemical = chemical.length;
    for (var i=0; i < numberOfchemical; i++){
      var row = newTable.insertRow(i);

      var buttonID = "selectChemical_" + chemical[i][0];
      var quantityID = "quantityChemical_" + chemical[i][0];

      var cell1 = row.insertCell(0);
      var cell2 = row.insertCell(1);
      cell1.innerHTML = chemical[i][1];
      cell2.innerHTML = '<button type="button" class="selectButton" id=' + buttonID + ' onclick="return addchemical(' + chemical[i][0] + ')">Add</button>';
    }

    oldTable.parentNode.replaceChild(newTable, oldTable);

    var xhttp = new XMLHttpRequest();
    xhttp.open("GET", '/requests/chemicals', true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onreadystatechange = function() {
      if (xhttp.readyState === 4) {
        if (xhttp.status === 200) {
          selectedchemical = JSON.parse(xhttp.responseText);
          console.log(selectedchemical);
          for (var i=0; i < numberOfchemical; i++){
            var button = document.getElementById("selectChemical_"+chemical[i][0]);
            if (selectedchemical.includes(chemical[i][0].toString())){
              button.style.backgroundColor = "lightGreen";
              button.innerHTML = "Remove";
            }else{
              button.style.backgroundColor = "red";
              button.innerHTML = "Add";
            }

          }
        } else {
          console.error(xhttp.statusText);
        }
      }
    };
    xhttp.send();
  }










</script>

{% endblock %}
