{% extends "base.html" %}

{% block header %}
{{ super() }}

{% include "header.html" %}

{% endblock %}


{% block body %}
{{ super() }}

<div class="pageContainer">

  <div class="sideNav">
    {% include "navbar.html" %}
  </div>

  <div class="pageContent">
    {% block content %}
      {% include "errorMessage.html" %}
    {% endblock %}
  </div>

</div>

{% endblock %}


{% block script %}
{{ super() }}

<script>

  function displayError(message){
    var error = document.getElementById("errorMessageText");
    error.innerText = message;

    var errorParent = document.getElementById("errorMessage");
    errorParent.style.display = "block";
  }

  function resetError(){
    var errorParent = document.getElementById("errorMessage");
    errorParent.style.display = "none";
  }


</script>

{% endblock %}
