{% extends "standardPage.html" %}
{% set title = "Log Times" %}
{% block content %}
{{ super() }}



<script>

function getCheckboxes(){
    checkedArray = [];
    {% for row in data %}
    if (document.getElementById("checkbox" + {{row[0]}}).checked == true){
      checkedArray.push({{row[0]}});
    }
    {% endfor %}
    return checkedArray;
  }

function formatTime(toFormat){
    if(toFormat < 10){
      return "0"+toFormat;
    }else{
      return toFormat;
    }
  }

startTime = "";
currentChecked = [];
function submitData(){
  var currentDate = new Date();
  currentStatus = document.getElementById("startStop").innerHTML;
  console.log(getCheckboxes().length);
  if(getCheckboxes().length < 1){
    document.getElementById("sessionStart").innerHTML="Nothing checked!";
    return;
  }
  if(currentStatus == "Start"){
    currentStatus = "Stop";
    document.getElementById("startStop").innerHTML=currentStatus;
    currentChecked = getCheckboxes();
    startTime = currentDate.getFullYear() + "-"
                + formatTime((currentDate.getMonth()+1))  + "-"
                + formatTime(currentDate.getDate()) + " "
                + formatTime(currentDate.getHours()) + ":"
                + formatTime(currentDate.getMinutes()) + ":"
                + formatTime(currentDate.getSeconds());
    document.getElementById("sessionStart").innerHTML="Session(s) started at: "+ startTime;
  } else if(currentStatus == "Stop"){
    currentStatus = "Start";
    document.getElementById("startStop").innerHTML=currentStatus;
    sendTime(currentChecked, startTime);
    }
  }

function sendTime(checked, time, action){
  var currentDate = new Date();
  currentSeconds = currentDate.getSeconds();
  var params = "startTime="
  params+=time
  params+= "&endTime=" + currentDate.getFullYear() + "-"
              + formatTime((currentDate.getMonth()+1))  + "-"
              + formatTime(currentDate.getDate()) + " "
              + formatTime(currentDate.getHours()) + ":"
              + formatTime(currentDate.getMinutes()) + ":"
              + formatTime(currentDate.getSeconds());
  params+="&bookingIDs=" + checked
  console.log(params);
  if(checked.length!=getCheckboxes().length){
    document.getElementById("sessionStart").innerHTML="Boxes checked after start ignored!";
  }
  var xhttp = new XMLHttpRequest();
  xhttp.open("POST", '/bookings/startstop', true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.onload = function() {
    if (xhttp.readyState === 4 && xhttp.status === 200) {
      window.location.href = "startstop";
    } else {
      console.error(xhttp.statusText);
    }
  }
  xhttp.send(params);
}

</script>

<style media="screen">
.bookingData{
  border-collapse: collapse;
}

.bookingData tr > *{
  border: 1px solid black;
}

.bookingData tr td:nth-child(odd){
  background: #bababa;
}

.bookingData tr td:nth-child(even){
  background: #d3d3d3;
}
</style>
<h1>Start your equipment session <br><br></h1>

  <table class = "bookingData">
    <tr style = "font-weight:bold">
      <th></th>
      <th>Booking ID</th>
      <th>User ID</th>
      <th>Booking Start</th>
      <th>Booking End</th>
      <th>Real start time</th>
      <th>Real end time</th>
    </tr>
    {% for row in data %}
    <tr>
      <td><input type="checkbox" id="checkbox{{row[0]}}"></td>
      <td>{{row[0]}}</td>
      <td>{{row[1]}}</td>
      <td>{{row[2]}}</td>
      <td>{{row[3]}}</td>
      <td id="start{{row[0]}}">{{row[4]}}</td>
      <td>{{row[5]}}</td>
    </tr>
    {% endfor %}
  </table>
  <button type="submit" onclick="submitData();" id = "startStop">Start</button>
<p id = "sessionStart"></p>

{{users}}

{% endblock %}
