{% extends "standardPage.html" %}
{% set title = "User Management" %}
{% block content %}
{{ super() }}

<h1>User Management</h1>

<table style="width:100%" id="usersTable">
  <thead>
    <tr class="tableHeadings">
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email Address</th>
      <th>Contact Number</th>
      <th>Access</th>
      <th></th>
    </tr>
  </thead>

  {% for user in users %}

    <tr>
      <td>{{user[1]}}</td>
      <td>{{user[2]}}</td>
      <td>{{user[3]}}</td>
      <td>{{user[4]}}</td>
      <td>{{user[5]}}</td>
      <td>
        <form action="/userManagement/edit/{{user[0]}}" id="editUserForm">
          <button type="submit" class="selectButton">Edit</button>
        </form>
      </td>
    </tr>

  {% endfor %}

</table>

<button type="button" onclick="location.href = '/userManagement/add';">Add user</button>

{% endblock %}
