{% extends "standardPage.html" %}

{% block content %}
{{ super() }}

<h1>Edit: {{user[1]}} {{user[2]}}</h1>

<form id="addNewUserForm" onsubmit="return saveUser()">
  <br><label class="standardlabel">First name</label>
  <input type="text" class="standardInput" name="firstName" value="{{user[1]}}">

  <br><label class="standardlabel">Last name</label>
  <input type="text" class="standardInput" name="lastName" value="{{user[2]}}">

  <br><label class="standardlabel">Email</label>
  <input type="text" class="standardInput" name="email" value="{{user[3]}}">

  <br><label class="standardlabel">Contact Number</label>
  <input type="text" class="standardInput" name="contactNumber" value="{{user[4]}}">

  <br><label class="standardlabel">Access</label>
  <select name="access" id="access" onKeyDown="return false"  class="standardInput" value="2">
    {% if user[5] == 3 %}
      <option value="3" selected>Student</option>
    {% else %}
      <option value="3">Student</option>
    {% endif %}

    {% if user[5] == 2 %}
      <option value="2" selected>Staff</option>
    {% else %}
      <option value="2">Staff</option>
    {% endif %}

    {% if user[5] == 1 %}
      <option value="1" selected>Technician</option>
    {% else %}
      <option value="1">Technician</option>
    {% endif %}

  </select>

  <br><br><button type="submit">Save</button>
  <button type="button" onclick="return deleteUser()">Delete</button>

</form>



{% endblock %}


{% block script %}
{{ super() }}

<script>

  function saveUser() {
    event.preventDefault();
    resetError();

    var firstName = document.forms["addNewUserForm"]["firstName"].value;
    var lastName = document.forms["addNewUserForm"]["lastName"].value;
    var email = document.forms["addNewUserForm"]["email"].value;
    var contactNumber = document.forms["addNewUserForm"]["contactNumber"].value;
    var access = document.forms["addNewUserForm"]["access"].value;

    params = 'firstName='+firstName+'&lastName='+lastName+'&email='+email+'&contactNumber='+contactNumber+'&access='+access;
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", '/userManagement/edit/{{user[0]}}', true); // true is asynchronous
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onload = function() {
      if (xhttp.readyState === 4 && xhttp.status === 200) {
        var response = xhttp.responseText
        if (response == "success"){
          window.location.href = "/userManagement";
        }
        else{
          displayError(response);
        }
      } else {
        console.error(xhttp.statusText);
      }
    };
    xhttp.send(params);
    return false;
  }


  function deleteUser() {
    event.preventDefault();
    resetError();

    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", '/userManagement/delete/{{user[0]}}', true); // true is asynchronous
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onload = function() {
      if (xhttp.readyState === 4 && xhttp.status === 200) {
        var response = xhttp.responseText
        if (response == "success"){
          window.location.href = "/userManagement";
        }
        else{
          displayError(response);
        }
      } else {
        console.error(xhttp.statusText);
      }
    };
    xhttp.send();
  }

</script>


{% endblock %}
