{% extends "standardPage.html" %}
{% set title = "Home" %}
{% block content %}
{{ super() }}
<style media="screen">
  .bookingData{
    border-collapse: collapse;
  }

  .bookingData tr > *{
    border: 1px solid black;
  }

.bookingData{
  border-collapse: collapse;
}

.bookingData tr > *{
  border: 1px solid black;
}

.bookingData tr td:nth-child(odd){
  background: #bababa;
}

.bookingData tr td:nth-child(even){
  background: #d3d3d3;
}

</style>

<script type="text/javascript">

function addTraining(){
  var selectedBox = $("#userTraining").val();
  var params = "trainingID=" + selectedBox
  var xhttp = new XMLHttpRequest();
  xhttp.open("POST", '/training/add/{{userData[0][0]}}', true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.onload = function() {
    if (xhttp.readyState === 4 && xhttp.status === 200) {
      if (xhttp.response == "success"){
        window.location.href = "/training/add"
      }
    } else {
      console.error(xhttp.statusText);
    }
  }
  xhttp.send(params);
}

</script>


  <h1>User Training Card</h1>
    <h2 style="color:black;">
      <table class="bookingData">
        <tr>
          <th>Name</th>
          <th>Current training</th>
        </tr>
        <tr>
          <td>{{userData[0][1]}} {{userData[0][2]}}</td>
          <td>{% for row in userData %}{{row[3]}} <br> {% endfor %}</td>
        </tr>
      </table>
    </h2>
  <select name="userTraining" id="userTraining" onKeyDown="return false"  class="standardInput" value="2">
    {% for row in trainingData %}
    <option value="{{row[0]}}">{{row[1]}}</option>
    {% endfor %}
  </select>
  <button type="button" name="button" onclick="addTraining()">Add Training</button>

{{users}}

{% endblock %}
