{% extends "standardPage.html" %}
{% set title = "Add new user" %}
{% block content %}
{{ super() }}

<h1>Add a new user</h1>

<form id="addNewUserForm" onsubmit="return addUser()">
  <br><label class="standardlabel">First name</label>
  <input type="text" class="standardInput" name="firstName">

  <br><label class="standardlabel">Last name</label>
  <input type="text" class="standardInput" name="lastName">

  <br><label class="standardlabel">Email</label>
  <input type="text" class="standardInput" name="email">

  <br><label class="standardlabel">Password</label>
  <input type="password" class="standardInput" name="password">

  <br><label class="standardlabel">Contact Number</label>
  <input type="text" class="standardInput" name="contactNumber">

  <br><label class="standardlabel">Access</label>
  <select name="access" id="access" onKeyDown="return false"  class="standardInput">
    <option value="3">Student</option>
    <option value="2">Staff</option>
    <option value="1">Technician</option>
  </select>

  <br><br><button type="submit">Add</button>

</form>



{% endblock %}


{% block script %}
{{ super() }}

<script>

  function addUser() {
    event.preventDefault()

    var firstName = document.forms["addNewUserForm"]["firstName"].value;
    var lastName = document.forms["addNewUserForm"]["lastName"].value;
    var email = document.forms["addNewUserForm"]["email"].value;
    var password = document.forms["addNewUserForm"]["password"].value;
    var contactNumber = document.forms["addNewUserForm"]["contactNumber"].value;
    var access = document.forms["addNewUserForm"]["access"].value;

    params = 'firstName='+firstName+'&lastName='+lastName+'&email='+email+'&contactNumber='+contactNumber+'&access='+access+'&password='+password;
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", '/userManagement/add', true); // true is asynchronous
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onload = function() {
      if (xhttp.readyState === 4 && xhttp.status === 200) {
        var response = xhttp.responseText
        if (response == "success"){
          window.location.href = "/userManagement";
        }
        else{
          displayError(response);
        }
      } else {
        console.error(xhttp.statusText);
      }
    };
    xhttp.send(params);
    return false;
  }

</script>


{% endblock %}
